<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:fragment="headerFragment">-->
    <!--<meta charset="UTF-8">-->
    <!--<title th:include=":: #pageTitle">Layout Generic Title< /title>-->
        <!--</head>-->
<!--<body>-->
<!--<div class="container">-->
    <!--Header text-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <!--<title th:include=":: #pageTitle">Layout Generic Title </title>-->
    <title>[Sample] EMC Remediation Queue</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/mdl-material.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/materialize.min.js"></script>
    <script src="../../static/js/main.js"></script>
</head>
<body>

</body>
</html>