<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" id="page-header">
    <div class="nav-wrapper">
        <div id="banner">
            <a href="#" data-activates="side-nav-bar" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <div class="brand-logo left hide-on-small-only">
                <img src="/images/ehealth-logo.png">
            </div>
            <h5 class="brand-logo center" id="page-title">
                REMEDIATION QUEUE
            </h5>
        </div>
        <ul id="nav-mobile" class="right">
            <li>
                <a href="#" class="dropdown-button" data-activates="user-actions">
                    <i class="material-icons left">account_box</i>
                    <span th:text="${@login.commonName}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>